@font-face {
    font-family: Figtree-ExtraBold;
    src: url(../Project\ 1/Figtree-ExtraBold.ttf);
}

@font-face {
    font-family: Figtree-Medium;
    src: url(../Project\ 1/Figtree-VariableFont_wght.ttf);
}

body {
    background-color: #F4D04E;    
}

.window {
    align-items: center;
    justify-content: center;
    margin: 219px auto;
    background-color: white;
    width: 384px;
    height: 522px;
    border-radius: 20px;
    border: 1px solid black ;
    box-shadow: 8px 8px black;
}

.window img {
    margin: 24px;
    justify-content: center;
    border-radius: 10px;
}

.learning {
    display: grid;
    background-color: #F4D04E;
    border-radius: 4px;
    width: 82px;
    height: 29px;
    margin: auto auto 12px 24px;
    text-align: center;
    font-family: Figtree-ExtraBold;
    font-size: 14px;
    align-items: center;
    vertical-align: middle;
}

.published {
    font-family: Figtree-Medium;
    font-size: 14px;
    margin: auto auto 12px 24px;
}

.foundations {
    color: #000000;
    font-family: Figtree-ExtraBold;
    font-size: 24px;
    margin: auto auto 12px 24px;
    text-decoration-line: none;
}

.foundations:hover{
    color: #F4D04E;
}

.text{
    font-family: Figtree-Medium;
    font-size: 16px;
    margin: 12px 24px 24px 24px;
    line-height: 150%;
    color: #6B6B6B;
}

.author{
    display: flex;
    width: 129px;
    height: 32px;
    font-family: Figtree-ExtraBold;
    font-size: 14px;
    margin: auto auto auto 24px;
}

.author img{
    margin: 0px 12px 0px 0px;
}

.author-avatar{
    width: 32px;
    height: 32px;
}

.author-name{
    display: flex;
    align-items: center;
}